
.nav-list {
  background: rgba(0, 0, 0, 0.5);
  list-style: none;
  overflow: hidden;
}

.nav-list li {
  display: inline;
  margin: 100px;
  
}

.nav-list a {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 20px;
}

#navbar {
  size: 10px;
}

#main-body {
  background-image: url(black-hole-fractal.jpg);
}