
#welcome-section h1 {
  color: white;
}

.nav-list {
  background: rgba(0, 0, 0, 0.5);
  list-style: none;
  overflow: hidden;
}

.nav-list li {
  display: inline;
  margin: 75px;
  text-align: center;
}

.nav-list a {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 30px;
}

#navbar {
  size: 10px;
}

#navbar h1 {
  display: inline;
  color: white;
}

#main-body {
  
}

#projects {
  background-color: white;
  display: grid;

  grid-template-areas:
    'Calculator Encryption InventoryManager'
    'Calculator Encrpytion InventoryManager'
    'Calculator Encrpytion InventoryManager';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

#projects > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 { grid-area: Calculator; }
.item2 { grid-area: Encryption; }
.item3 { grid-area: InventoryManager; }

#welcome-section {
  background-color: rgba(45, 3, 234, 0.421);
  margin: 0px;
  min-width: 100px;
  min-height: 500px;
}
