:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

.main {
  border-color: yellow;
  background-color:rgba(4, 15, 104, 0.4);
  z-index: 0.5;
}

.operator, .operand, #clear, #equal {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    border: 0px;
    margin-top: 0px;
    transition-duration: 0.4s;
    background-color:aliceblue;
  }
  
.front-title {
  flex: auto;
  text-align: center;
}

#output {
  width: 95%;
  font-size: 30px;
  resize: none;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  height: 70px;
  background-color: white;
}

.calculator {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: dimgray;
  border: solid;
  border-radius: 10px;
  padding: 5px;
}

table {
  border-style: solid;
  border-width: 2px;
}

#calculator-buttons {
  
}

.operand:hover {
  background-color: #4CAF50; /* Green */
  color: green;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 15px;
  width: 100%;
  height: 50px;
  background: var(--main-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

#navbar {
  display: flex;
  text-align: right;
  width: 100;
  background-color: maroon;
  position:fixed;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  height: 100%;
}

.nav-list a:hover {
  background: var(--main-blue);
}

@media(max-height: 800px) {
  nav {
    font-size: 10px;
  }
}

li {
  display: inline;
  margin: 0px 30px 0px 30px;
  font-size: 25px;
  list-style-type: none;
}
  

a {
  text-decoration: none;
  color: white;
}